@charset "utf-8";
body{
	background-image: url(./background.jpg);
}
.clr{
		width: 0;
		height: 0;
		clear: both;
}
#container{
	width:90%;
	margin:0 auto;
}

#title{
	width: 75%;
	margin: 0,auto;
}


#header{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 2px solid #888;

}
audio{
	margin-top: 15px;
	display: block;
	
}
p{
	font-family: sans-serif;
}

h1{
	color: #FF0000;
	font-family: "微软雅黑";
	margin-left: 10px;
}
