@charset "utf-8";
body{
	background:#CECECE url(./background.jpg);
	background-position: 50% 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;

}
.clr{
		width: 0;
		height: 0;
		clear: both;
}
#container{
	width:90%;
	margin:0 auto;
}

#title{
	width: 75%;
	margin: 0,auto;
}


#header{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 2px solid #888;

}
audio{
	margin-top: 15px;
	display: block;

}



#text{
	margin-top: 15px;
	padding:0 10px;
	background: url(./b.png) ;
	float:left;
	font-family: sans-serif;
	margin-bottom: 10px;

}
h1{
	color: #FF0000;
	font-family: "微软雅黑";
	margin-left: 10px;
}
