@charset "utf-8";




body{
	background:#CECECE url(./background.jpg);
	background-position: 50% 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
}
.clr{
		width: 0;
		height: 0;
		clear: both;
}

h1{
	margin:5px auto;
	text-align: center;
}

#container{
	width:90%;
	max-width: 950px;
	margin:0 auto;
}

#title{
	width: 75%;
	max-width: 560px;
}


#header{
	margin: 0 10px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 2px solid #888;

}
audio{
	margin-top: 10px;
	display: block;

}



#text{
	margin-top: 10px;
	padding:0 5px;
	background: url(./b.png) ;
	float:left;
	font-family: sans-serif;
	margin-bottom: 5px;

}
